<div class=container>
  <!-- Row -->
  <div class="row">
    <!-- This div takes 1 out of
         12 columns in the grid -->
    <div class="col-1">
      <!--This row contains the col which
      shows the column heading-->
      <div class="row">
        <!-- this div takes 12 out of
          12 columns in the grid -->
      </div>
      <!-- This row contains the menu items-->
      <div class="row">
        <div class="col" style="text-align: center;
                            padding: 15px;">

<!--          <ng-template #thenBlock><a *ngIf="!ShouldLettersShow" (click) = "ShowAllLetters()" href="#">A</a><br> <br></ng-template>-->
<!--          <ng-template #elseBlock><a *ngIf="ShouldLettersShow" href="#">B</a><br> <br></ng-template>-->
          <a *ngIf="!ShouldLettersShow" (click) = "ShowAllLetters()">A</a><br> <br>
          <div *ngFor="let alph of alpha">
            <a *ngIf="ShouldLettersShow" (click) = "ShowAllLetters()" appChooseletter>{{alph}}</a><br> <br>
          </div>
<!--          <p [appHighlight]="color">Highlight me!</p>-->
        </div>
      </div>

    </div>
    <!--This column takes 11 out of 12
    columns available-->
    <div class="col-11">
      <div class="row">
<!--The drop down list component-->
        <app-drop-down-searches (gettedHeroListByName) = "getHeroesFound($event)"></app-drop-down-searches>
      </div>
<!--        <app-single-hero-block [heroArrayBlock] = HeroArray></app-single-hero-block>-->
        <app-single-hero-block [heroArrayBlock]="HeroArray"></app-single-hero-block>
<!--      <div class="row">-->
<!--        <div class="containerLoadList">-->
<!--          <div class="row single-div border border" style="padding: 25px 50px;">-->
<!--            <div class="col-4">-->
<!--              <div>-->
<!--                <p class="loadNameParagraph">Your Beer Name</p>-->
<!--              </div>-->
<!--              <div>-->
<!--                <img class = 'imgClass' src="" alt="Trulli" width="70px">-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-5 beerDescription">-->
<!--              <p class="beerDescriptionParagraph">-->
<!--                What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book it has?-->
<!--              </p>-->
<!--            </div>-->
<!--            <div class = "col-1 beerAddToFavorites">-->
<!--              <button class = "btn btn-primary beerAddToFavoritesButton">Select</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>

<button (click)="NavigateToWelcomePage()">Return Back To Main Page</button>
