<!--<app-nav-bar></app-nav-bar>-->

<!--<div class="container">-->
<!--  <div class="card" *ngFor="let todo of todos">-->
<!--    <p>-->
<!--      <span [class.completed] = "todo['response'] === 'success'">{{todo.name}}</span>-->
<!--      <span>-->
<!--        <button class="btn btn-danger">Удалить</button>-->
<!--        <button class="btn" [disabled]="todo.response === 'success'">Завершить</button>-->
<!--      </span>-->
<!--    </p>-->
<!--  </div>-->
<!--</div>-->

<!--<app-log-in-form></app-log-in-form>-->
<router-outlet></router-outlet>
