<div class="row">
  <div class="containerLoadList" >
    <div class="containerLoadList" *ngFor="let hero of heroArrayBlock">
      <div class="row single-div border border" style="padding: 25px 50px;">
        <div class="col-4">
          <div>
            <p class="loadNameParagraph">{{hero.id}}</p>
          </div>
          <div>
            <img class = 'imgClass' src="" alt="Trulli" width="70px">
          </div>
        </div>
        <div class="col-5 beerDescription">
          <p class="beerDescriptionParagraph">
            What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book it has?
          </p>
        </div>
        <div class = "col-1 beerAddToFavorites">
          <button class = "btn btn-primary beerAddToFavoritesButton">Select</button>
        </div>
      </div>
  </div>
  </div>
</div>
