<div class="container">
  <form class="card" [formGroup]="form" #formGr = "ngForm">
      <div class="form-control col">
        <input type="text" placeholder="Email" formControlName="email" (keydown)="emailChange()" required>
      </div>
    &nbsp;
      <div class="form-control col">
        <input type="text" placeholder="Password"  formControlName="password" (keydown)="passwordChange()" required>
      </div>

    <button class="btn" type = "submit" [routerLink]="''" [disabled]="form.invalid || checkPasswordEmail()"  >Отправить</button>
    <button class="btn" type = "submit" [routerLink]="''">Close</button>
  </form>
</div>
